body {
    padding-top: 60px;
}


/* 基本重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* 導覽列 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9ae67;
    padding: 15px 30px;
    position: fixed;
top: 0;
width: 100%;
}

/* 左邊標題 */
.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* 右邊選項 */
.nav-links {
    list-style: none;
    display: flex;
}

/* 每個選項 */
.nav-links li {
    margin-left: 20px;
}

/* 連結樣式 */
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* 滑鼠移過去效果 */
.nav-links a:hover {
    color: #ffce39;
}

/*banner*/
.hero {
    height: 100vh;
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* 文字區塊 */
.hero-content {
    background: rgba(0, 0, 0, 0.4); /* 半透明遮罩 */
    padding: 40px;
    border-radius: 10px;
}
a:link {
  color: rgb(255, 255, 255);
  text-decoration: none; /* 移除底線 */
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 160, 43);
  text-decoration: underline; /* 滑鼠移上時出現底線 */
}

a:active {
  color: yellow;
  text-decoration: underline; /* 點擊瞬間 */
}

/*名片*/

.about {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background: #f5f5f5;
}

.card {
    background: rgb(255, 244, 219);
     padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
     width: 700px;
    

   display: flex;          /* 整體橫排 */
    align-items: center;
    gap: 30px;
}
    

.card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    display: flex;
    flex-direction: column; /* 文字直排 */
    justify-content: center;
}

.info h2 {
    margin-bottom: 6px;
    color: #44311e;
}

.info p {
    margin-bottom: 8px;
    color: #78634f;
}

/*聯絡圖示*/
.contact-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.contact-icon {
    width: 45px;
    height: 45px;
    background: #e7e7e7;
    border-radius: 50%;        /* 圓形 */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.contact-icon img {
    width: 22px;
    height: 22px;
}

.contact-icon:hover {
    background: #ffc53e;
    transform: translateY(-3px);
}

/*作品集*/
.works {
    padding: 80px 40px;
    background: #fff;
    text-align: center;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.work-card {
    width: 45%;              /* 兩欄 */
    max-width: 400px;
}

.work-card img {
    width: 100%;
    aspect-ratio: 1 / 1;   /*  正方形 */
    object-fit: cover;     /* 不變形、裁切 */
    border-radius: 10px;
}

.work-card p {
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .work-card {
        width: 100%;       
    }
}
@media screen and (max-width: 1000px) {
    .work-card {
        width: 45%;
    }
}
